body {
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    padding-bottom: 50px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    background-color: #a7b8de;
}

table, panel, div {
    margin: 0 auto;
    width: auto;
}

.ui-inputfield {
    cursor: default;
    background-color: #e9edef;
}

#header, .ui-panel {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    width: auto;
    background-color: white;
    border: 1px solid #a8a8a8;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    color: #fff;
    
    background: #385fb6 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #385fb6 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #385fb6 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.login {
    width: 370px;
    margin-top: 50px;
}

.logout {
    position: absolute;
    right: 10px;
}

.statistics {
    margin: 0;
}

.graph {
    margin: 30px;
}

.icons {
    width: 100px;
    text-align: center;
}

.ui-menuitem-text {
    color: #f4f6f7;
}

.ui-menu, .ui-menu .ui-menu-child, .ui-panel-titlebar, .ui-state-default {
    background-color: #385fb6;
    color: #fff;
}

.ui-widget-content, .ui-widget-header {
    border: transparent;
}

.ui-state-hover, .ui-state-focus {
    background: #fff;
}

.ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #234EAE;
    color: #dee4e7;
    border-color: transparent;
    box-shadow: none;
}

.ui-corner-all {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.ui-widget-content {
    border: 0px;
    color: #234EAE;
}