body {
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    padding-bottom: 50px;
    margin: 10px;
    text-align: left;
}

table, panel, div {
    margin: 0 auto;
    width: auto;
}

.ui-inputfield {
    cursor: default;
}

#header, .ui-panel {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    width: auto;
    background-color: white;
    border: 1px solid #a8a8a8;
    margin: 10px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.login {
    width: 370px;
    margin-top: 50px;
}

.logout {
    position: absolute;
    right: 10px;
}

.statistics {
    margin: 0;
}

.graph {
    margin: 30px;
}

.icons {
    width: 100px;
    text-align: center;
}

