body {
    font-size: 0.9em;
    cursor: default;
    padding-bottom: 50px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    background-color: #000;
    border: 1px solid #00ff00;
}

table, panel, div {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    margin: 0 auto;
    width: auto;
}

.ui-inputfield {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    cursor: default;
    background-color: #000;
    border: 1px solid #00ff00;
}

#header, .ui-panel {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    width: auto;
    background-color: #000;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    color: #00ff00;
   
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.login {
    width: 370px;
    margin-top: 50px;
}

.logout {
    position: absolute;
    right: 10px;
}

.statistics {
    margin: 0;
}

.graph {
    margin: 30px;
}

.icons {
    width: 100px;
    text-align: center;
}

.ui-menuitem-text {
    color: #fff;
}

.ui-menu, .ui-menu .ui-menu-child, .ui-panel-titlebar, .ui-state-default {
    color: #00ff00;
    background: #000 linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1));
    background: #000 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));
    background: #000 -moz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1));
    border: 1px solid #00ff00;
}


.ui-state-hover, .ui-state-focus {
    background: #000;
    color: #00ff00;
    border: 1px solid #00ff00;
}

.ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #000;
    color: #00ff00;
    border-color: transparent;
    box-shadow: none;
    border: 1px solid #00ff00;
}

.ui-widget, .ui-widget-content {
    border: 0px;
    background-color: #000;
    color: #00ff00;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}