<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
        
        	
            
            <p:dataTable id="workPackage" var="workPackage" value="#{workPackageListController.packages}">
                <p:column headerText="WorkPackageId">
                    <h:outputText value="#{workPackage.workPackageId}"/>
                </p:column>
                <p:column headerText="WorkPackageName">
                    <h:outputText value="#{workPackage.workPackageName}"/>
                </p:column>
                <p:column class="icons">
                    <p:commandButton update=":userForm:workPackageEditDialog" oncomplete="PF('workPackageEditDialog').show()" icon="ui-icon-pencil" title="Edit">
                        <f:setPropertyActionListener value="#{workPackage}" target="#{workPackageDetailController.workPackage}" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            
            <p:dialog header="Edit Work Package" id="workPackageEditDialog" widgetVar="workPackageEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="workPackageData" rendered="#{not empty workPackageDetailController.workPackage}">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="workPackageName" value="Work Package Name: " />
                        <p:inputText id="workPackageName" value="#{workPackageDetailController.workPackage.workPackageName}" disabled="false"/>
                    </h:panelGrid>
                    <h:panelGrid columns="3">
                        <p:commandButton value="Save" action="#{workPackageDetailController.doSaveWorkPackage()}" oncomplete="PF('projectTeamEditDialog').hide()" update=":userForm"/>
                        <p:commandButton value="Reload" action="#{workPackageDetailController.doReloadWorkPackage()}" update=":userForm:workPackageData"/>
                        <p:commandButton value="Abort" onclick="PF('workPackageEditDialog').hide()"/>
                    </h:panelGrid>
                </p:outputPanel>
            </p:dialog>
            
        
           
            

        </h:form>
    </ui:define>
</ui:composition>