<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
        
        	<p:dataTable id="ProjectTeam" var="projectTeam" value="#{projectTeamListController.adminProjects}">
                <p:column headerText="ProjectTeamId">
                    <h:outputText value="#{projectTeam.projectTeamId}"/>
                </p:column>
                <p:column headerText="ProjectTeamName">
                    <h:outputText value="#{projectTeam.projectTeamName}"/>
                </p:column>
                <p:column headerText="Moderator">
                    <h:outputText value="#{projectTeam.moderator.username}"/>
                </p:column>
                <p:column class="icons">
                    <p:commandButton update=":userForm:projectTeamEditDialog" oncomplete="PF('projectTeamEditDialog').show()" icon="ui-icon-pencil" title="Edit">
                        <f:setPropertyActionListener value="#{projectTeam}" target="#{projectTeamDetailController.projectTeam}" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            
            <p:dialog header="Edit Project Team" id="projectTeamEditDialog" widgetVar="projectTeamEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="projectTeamData" rendered="#{not empty projectTeamDetailController.projectTeam}">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="projectTeamName" value="Teamname: " />
                        <p:inputText id="projectTeamName" value="#{projectTeamDetailController.projectTeam.projectTeamName}" disabled="false"/>
                    </h:panelGrid>
                    <h:panelGrid columns="2">
                        <p:outputLabel for="moderator" value="Moderator: " />
                        <p:selectOneMenu id="moderator" value="#{projectTeamDetailController.projectTeam.moderator.username}" style="width: 165px">
                        	<f:selectItem itemLabel="Select moderator" itemValue="#{null}" noSelectionOption="true" itemDisabled="true"/>
                			<f:selectItems value="#{userListController.users}" var="mods" itemValue="#{mods.username}" itemLabel="#{mods.username}" />
            			</p:selectOneMenu>
                    </h:panelGrid>
                    <h:panelGrid columns="3">
                        <p:commandButton value="Save" action="#{projectTeamDetailController.doSaveProjectTeam()}" oncomplete="PF('projectTeamEditDialog').hide()" update=":userForm"/>
                        <p:commandButton value="Reload" action="#{projectTeamDetailController.doReloadProjectTeam()}" update=":userForm:projectTeamData"/>
                        <p:commandButton value="Abort" onclick="PF('projectTeamEditDialog').hide()"/>
                    </h:panelGrid>
                </p:outputPanel>
            </p:dialog>
            
            

            

        </h:form>
    </ui:define>
</ui:composition>