<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
        
        	
            
            <p:dataTable id="TimeStampTable" var="timeStamp" value="#{timeStampListController.stamps}">
                <p:column headerText="TimeStampId">
                    <h:outputText value="#{timeStamp.timeStampId}"/>
                </p:column>
                <p:column headerText="TimeStampStart">
                    <h:outputText value="#{timeStamp.timeStampStart}"/>
                </p:column>
                <p:column headerText="TimeStampEnd">
                    <h:outputText value="#{timeStamp.timeStampEnd}"/>
                </p:column>
                <p:column headerText="TimeStampTime">
                    <h:outputText value="#{timeStamp.time}"/>
                </p:column>
                <p:column headerText="WorkPackageName">
                    <h:outputText value="#{timeStamp.workPackage.workPackageName}"/>
                </p:column>
                <p:column headerText="username">
                    <h:outputText value="#{timeStamp.user.username}"/>
                </p:column>
                <p:column class="icons">
                    <p:commandButton action="#{timeStampDetailController.doDeleteTimeStamp}" icon="ui-icon-trash" title="Delete" update=":userForm">
                        <f:setPropertyActionListener value="#{timeStamp}" target="#{timeStampDetailController.timeStamp}" />
                        <p:confirm header="Confirmation" message="Are you sure that you want to delete this TimeStamp? You cannot undo this operation." icon="ui-icon-alert" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>

            

        </h:form>
    </ui:define>
</ui:composition>