<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form>

            <!-- Selection Menu for GroupStatistics -->
            <p:panel>
                <h:panelGrid columns="1" cellpadding="2" class="statistics">
                    <p:row>
                        <p:outputLabel value="Teams:"/>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:selectOneMenu id="projectSelect" value="#{projectTeamDetailController.selectName}" style="width: 250px" filter="true" filterMatchMode="startsWith">   
                                <f:selectItem itemLabel="Select team" itemValue="#{null}" noSelectionOption="true"/>
                                <f:selectItems value="#{projectTeamListController.projects}" var="projects" itemValue="#{projects.projectTeamName}" itemLabel="#{projects.projectTeamName}" rendered="#{projects.projectTeamId ne 0}"/>
                                <p:ajax process="@this" update="@(form)" listener="#{projectTeamDetailController.doLoadProjectTeamByName()}"/>
                                <p:ajax listener="#{chartController.onGroupComplete(projectTeamDetailController.projectTeam)}"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                </h:panelGrid>
            </p:panel>

            <!-- DataTable for GroupStatistics -->
            <p:dataTable var="workPackage" value="#{projectTeamDetailController.getOverview4ProjectTeam()}" rendered="#{projectTeamDetailController.projectSelected}">
                <p:column headerText="Work package">
                    <h:outputText value="#{workPackage.key}"/>
                </p:column>
                <p:column headerText="Time [h]">
                    <h:outputText value="#{workPackage.value}"  class="right">
                        <f:convertNumber minFractionDigits="2" locale="en-US"/>
                    </h:outputText>
                </p:column>
            </p:dataTable>                

            <!--Group statistic graph-->

            <p:chart id="chart" type="bar" model="#{chartController.groupChart}" rendered="#{chartController.groupChartLoaded}" class="graph" style="height: #{chartController.height}px">
                <h:outputScript>
                    function chartExtender() {        
                    // this = chart widget instance        
                    // this.cfg = options      
                    this.cfg.seriesDefaults.rendererOptions.varyBarColor = true;
                    }
                </h:outputScript>
            </p:chart>

            <!--Pie chart for total Project Team-->

            <p:chart type="pie" model="#{chartController.groupPieChart}" class="graph" rendered="#{chartController.groupChartLoaded}" />	

            <!--Pie chart models for each Workpackage-->
            <p:dataGrid id="piChartGrid" var="charts" value="#{chartController.groupWpPieCharts}" columns="2" class="graph" rendered="#{chartController.groupChartLoaded}">
                <p:chart type="pie" model="#{charts}" />    
            </p:dataGrid>

        </h:form>
    </ui:define>
</ui:composition>