<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">


            <!--Student selection selectOneMenu for admin -->
            <p:panel rendered="#{sessionInfoBean.hasRole('ADMIN')}">
                <h:panelGrid columns="1" cellpadding="2" class="statistics">
                    <p:row>
                        <p:outputLabel value="Students:"/>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:selectOneMenu id="studentSelect" value="#{userDetailController.userName}" style="width: 250px" filter="true" filterMatchMode="startsWith">
                                <f:selectItem itemLabel="Select student" itemValue="#{null}" noSelectionOption="true" rendered="false"/>
                                <f:selectItems value="#{userListController.users}" var="students" itemValue="#{students.username}" itemLabel="#{students.username}" />
                                <p:ajax process="@this" update="@(form)" listener="#{userDetailController.doLoadUserByName()}" oncomplete="#{chartController.createUserChart(userDetailController.user)}"/>
                            </p:selectOneMenu>

                        </p:column>
                    </p:row>
                </h:panelGrid>
            </p:panel>

            <!--Student selection selectOneMenu for moderator -->
            <p:panel rendered="#{(sessionInfoBean.hasRole('MODERATOR') and !(sessionInfoBean.hasRole('ADMIN')))}">
                <h:panelGrid columns="1" cellpadding="2" class="statistics">
                    <p:row>
                        <p:outputLabel value="Students:"/>
                    </p:row>
                    <p:row>
                        <p:column>

                            <p:selectOneMenu id="studentSelectMod" value="#{userDetailController.userName}" style="width: 250px" filter="true" filterMatchMode="startsWith">
                                <f:selectItem itemLabel="Select student" itemValue="#{null}" noSelectionOption="true" rendered="false"/>
                                <f:selectItems value="#{projectTeamDetailController.userForProjectTeam}" var="projectStudents" itemValue="#{projectStudents.username}" itemLabel="#{projectStudents.username}" />
                                <p:ajax process="@this" update="@(form)" listener="#{userDetailController.doLoadUserByName()}" oncomplete="#{chartController.createUserChart(userDetailController.user)}"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                </h:panelGrid>
            </p:panel>

            <h:form rendered="#{!(sessionInfoBean.hasRole('MODERATOR'))}">
                #{userDetailController.setUser(sessionInfoBean.currentUser)}
                #{chartController.createUserChart(userDetailController.user)}
            </h:form>

            <!--student dataTable with project name and time-->
            <p:dataTable var="workPackage" value="#{userDetailController.getOverview4User()}" rendered="#{userDetailController.userSelected}">
                <p:column headerText="Work Package">
                    <h:outputText value="#{workPackage.key}"/>
                </p:column>
                <p:column headerText="Time [h]">
                    <h:outputText value="#{workPackage.value}"  class="right">
                        <f:convertNumber minFractionDigits="2" locale="en-US"/>
                    </h:outputText>
                </p:column>
            </p:dataTable>

            <!--User statistic graph-->
            <p:chart id="chart" type="bar" model="#{chartController.userChart}" rendered="#{chartController.userChartLoaded}" class="graph" style="height: #{chartController.height}px">
                <h:outputScript>
                    function chartExtender() {        
                    // this = chart widget instance        
                    // this.cfg = options      
                    this.cfg.seriesDefaults.rendererOptions.varyBarColor = true;
                    }
                </h:outputScript>
            </p:chart>
        </h:form>
    </ui:define>
</ui:composition>