<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
            
            <p:panel> 

                    <h:panelGrid columns="2" cellpadding="5">
                        <p:outputLabel for="username" value="Username: " />
                        <p:inputText id="username" value="#{sessionInfoBean.currentUser.username}" disabled="true"/>
                        <p:outputLabel for="password" value="Password: " />
                        <p:password id="password" value="#{sessionInfoBean.currentUser.password}" disabled="true"/>

                        <p:outputLabel for="firstName" value="First Name: " />
                        <p:inputText id="firstName" value="#{sessionInfoBean.currentUser.firstName}"/>
                        <p:outputLabel for="firstName" value="Last Name: " />
                        <p:inputText id="lastName" value="#{sessionInfoBean.currentUser.lastName}"/>
                        <p:outputLabel for="email" value="E-Mail: " />
                        <p:inputText id="email" value="#{sessionInfoBean.currentUser.email}"/>
                        <p:outputLabel for="phone" value="Phone: " />
                        <p:inputMask id="phone" value="#{sessionInfoBean.currentUser.phone}" mask="+99? 999 9999999"/>
                        

                        <p:outputLabel for="design" value="Layout: "/>
                        <p:selectOneMenu id="design" value="#{userDetailController.design}" style="width: 170px">                            
                            <f:selectItems value="#{userDetailController.designs}" var="design" itemValue="#{design}" itemLabel="#{design}"/>
                        </p:selectOneMenu>
                        
                        <p:column />
                        <p:column>
                            <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                                <span class="ui-button-text">Save changes</span>
                            </button>
                        </p:column>
                    </h:panelGrid>
                
            </p:panel>    
            
        </h:form>
        
    </ui:define>
</ui:composition>