<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="screen">
            <p:panel header="Welcome to SMARD Timemanagement">
                <div>
                    An online tool to track used time for a project.
                </div>                
            </p:panel>
      
            <!--Project picker-->
            <p:panel style="padding-right: 100px">               
                    <h:panelGrid columns="2" cellpadding="5">
                    <p:column>
                        <p:outputLabel for="project" value="Work Packages:"/>
                    </p:column>            
                    <p:column>                                
                        <p:selectOneMenu id="project" value="#{workPackageDetailController.workPackageId}" style="width:300px" disabled="#{timeStampBean.hasOpenTimeStamp()}">                            
                            <f:selectItem itemLabel="Select work package" itemValue="#{null}" noSelectionOption="true"/>
                            <f:selectItems value="#{workPackageListController.packages}" var="work" itemValue="#{work.workPackageId}" itemLabel="#{work.workPackageName}"/>
                            <p:ajax process="@this" update="@(form)" listener="#{workPackageDetailController.loadWorkPackageWithId()}"/>   
                        </p:selectOneMenu>
                    </p:column>
                
        
        <!--Check buttons--> 
                    <p:row>
                        <p:commandButton value="Check in" id="checkInButton" style="width:150px" update="@(form)" actionListener="#{workPackageDetailController.checkIn}" disabled="#{timeStampBean.hasOpenTimeStamp()}"/> 
                        <p:commandButton value="Check out"  style="width:150px" update="@(form) show_project" actionListener="#{workPackageDetailController.checkOut}" disabled="#{!timeStampBean.hasOpenTimeStamp()}"/>
                    </p:row>
                </h:panelGrid>
            </p:panel>              
            <p:panelGrid columns="2" id="reminder" rendered="#{timeStampBean.hasOpenTimeStamp()}">
                <h:outputText value="Open Work Package: "/>
                <h:outputText value ="#{workPackageDetailController.openWorkPackageName}"/>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>