<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body>
        <ui:composition>
            
            
            <div class="left">
                <ui:fragment id="show_project" rendered="#{sessionInfoBean.loggedIn and timeStampBean.hasOpenTimeStamp() and request.requestURI != '/secured/welcome.xhtml'}">
                    Open work package: #{timeStampBean.openTimeStamp.workPackage.workPackageName}
                </ui:fragment>
                <ui:fragment  rendered="#{sessionInfoBean.loggedIn and !timeStampBean.hasOpenTimeStamp() and request.requestURI != '/secured/welcome.xhtml'}">
                    No open work package
                </ui:fragment>
                <ui:fragment rendered="#{!sessionInfoBean.loggedIn}">
                </ui:fragment>
            </div>
            
            
            <div class="right">
                <ui:fragment rendered="#{sessionInfoBean.loggedIn}">
                    Logged in as #{sessionInfoBean.currentUserName} [#{sessionInfoBean.currentUserRoles}]
                </ui:fragment>
                <ui:fragment rendered="#{!sessionInfoBean.loggedIn}">
                    Not logged in
                </ui:fragment>
            </div>

        </ui:composition>
    </body>
</html>

