<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition>
            <h:form>
                <p:menubar>                    
                    
                    <p:menuitem value="Home" url="/secured/welcome.xhtml" rendered="#{sessionInfoBean.loggedIn}"/>
                    
                    <p:submenu label="Statistics" rendered="#{sessionInfoBean.loggedIn}">
                        <p:menuitem value="User Statistics" url="/student/user_statistics.xhtml"/>
                        <p:menuitem value="Group Statistics" url="/student/group_statistics.xhtml" rendered="#{sessionInfoBean.hasRole('MODERATOR')}"/>
                    </p:submenu>
                    <p:submenu label="Admin Settings" rendered="#{sessionInfoBean.hasRole('ADMIN')}">
                        <p:menuitem value="Manage Users" url="/admin/users.xhtml"/>
                        <p:menuitem value="Manage Teams" url="/admin/teams.xhtml"/>
                        <p:menuitem value="Manage Projects" url="/admin/projects.xhtml"/>
                        <p:menuitem value="Manage Timestamps" url="/admin/timestamps.xhtml"/>
                    </p:submenu>
                    <p:menuitem value="Settings" url="/secured/settings.xhtml" rendered="#{sessionInfoBean.loggedIn}"/>
                  
                    <p:menuitem value="Login" url="/login.xhtml" rendered="#{!sessionInfoBean.loggedIn}"/>
                    <p:menuitem value="Logout" class="logout" url="/logout" rendered="#{sessionInfoBean.loggedIn}"/>
                </p:menubar>

            </h:form>
        </ui:composition>
        

    </body>
</html>

